In [172]:
import pandas as pd
import numpy as np

In [173]:
df_tract=pd.read_excel('ZIP_TRACT_032015.xlsx',skipinitialspace=True)
df_age=pd.read_csv('age.csv',skipinitialspace=True)

In [174]:
print(df_tract.columns)
print(df_age.columns)

Index(['ZIP', 'TRACT', 'RES_RATIO', 'BUS_RATIO', 'OTH_RATIO', 'TOT_RATIO'], dtype='object')
Index(['TractID', 'Geography', 'Estimate; Total:', 'Estimate; Male:',
       'Estimate; Male: - 16 to 19 years:',
       'Estimate; Male: - 16 to 19 years: - In labor force:',
       'Estimate; Male: - 16 to 19 years: - In labor force: - In Armed Forces',
       'Estimate; Male: - 16 to 19 years: - In labor force: - Civilian:',
       'Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Employed',
       'Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Unemployed',
       ...
       'Estimate; Female: - 70 to 74 years:',
       'Estimate; Female: - 70 to 74 years: - In labor force:',
       'Estimate; Female: - 70 to 74 years: - In labor force: - Employed',
       'Estimate; Female: - 70 to 74 years: - In labor force: - Unemployed',
       'Estimate; Female: - 70 to 74 years: - Not in labor force',
       'Estimate; Female: - 75 years and over:',
       'Estimate; Female: - 75 years and over: - In labor force:',
       'Estimate; Female: - 75 years and over: - In labor force: - Employed',
       'Estimate; Female: - 75 years and over: - In labor force: - Unemployed',
       'Estimate; Female: - 75 years and over: - Not in labor force'],
      dtype='object', length=176)

In [175]:
df_age.head(2)

,TractID,Geography,Estimate; Total:,Estimate; Male:,Estimate; Male: - 16 to 19 years:,Estimate; Male: - 16 to 19 years: - In labor force:,Estimate; Male: - 16 to 19 years: - In labor force: - In Armed Forces,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian:,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Employed,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Unemployed,...,Estimate; Female: - 70 to 74 years:,Estimate; Female: - 70 to 74 years: - In labor force:,Estimate; Female: - 70 to 74 years: - In labor force: - Employed,Estimate; Female: - 70 to 74 years: - In labor force: - Unemployed,Estimate; Female: - 70 to 74 years: - Not in labor force,Estimate; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - In labor force:,Estimate; Female: - 75 years and over: - In labor force: - Employed,Estimate; Female: - 75 years and over: - In labor force: - Unemployed,Estimate; Female: - 75 years and over: - Not in labor force
0,6037101110,"Census Tract 1011.10, Los Angeles County, Cali...",3924,1925,110,6,0,6,6,0,...,67,6,6,0,61,168,0,0,0,168
1,6037101122,"Census Tract 1011.22, Los Angeles County, Cali...",2797,1407,28,0,0,0,0,0,...,65,48,30,18,17,64,6,6,0,58

In [176]:
df_tract.head(2)

   ZIP        TRACT  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501  36103158607   0.000000   1.000000   0.000000   1.000000
1  601  72001956700   0.831755   0.597297   0.657143   0.811885

In [177]:
df_tract.describe()

,ZIP,TRACT,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
count,163289.000000,1.632890e+05,163289.000000,163289.000000,163289.000000,163289.000000
mean,49452.411369,2.893070e+10,0.206554,0.212666,0.210516,0.238418
std,28258.433760,1.601817e+10,0.295918,0.324044,0.334550,0.324313
min,501.000000,1.001020e+09,0.000000,0.000000,0.000000,0.000019
25%,27360.000000,1.604996e+10,0.014905,0.005455,0.000000,0.023021
50%,47525.000000,2.907700e+10,0.084985,0.052632,0.041667,0.094478
75%,74834.000000,4.201710e+10,0.219056,0.237398,0.223958,0.261237
max,99929.000000,7.803096e+10,1.000000,1.000000,1.000000,1.000000

In [178]:
df_age.describe()

,TractID,Estimate; Total:,Estimate; Male:,Estimate; Male: - 16 to 19 years:,Estimate; Male: - 16 to 19 years: - In labor force:,Estimate; Male: - 16 to 19 years: - In labor force: - In Armed Forces,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian:,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Employed,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Unemployed,Estimate; Male: - 16 to 19 years: - Not in labor force,...,Estimate; Female: - 70 to 74 years:,Estimate; Female: - 70 to 74 years: - In labor force:,Estimate; Female: - 70 to 74 years: - In labor force: - Employed,Estimate; Female: - 70 to 74 years: - In labor force: - Unemployed,Estimate; Female: - 70 to 74 years: - Not in labor force,Estimate; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - In labor force:,Estimate; Female: - 75 years and over: - In labor force: - Employed,Estimate; Female: - 75 years and over: - In labor force: - Unemployed,Estimate; Female: - 75 years and over: - Not in labor force
count,2.929000e+03,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,...,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000,2929.000000
mean,6.041719e+09,3575.938546,1746.674974,128.874018,33.383066,0.046432,33.336634,21.333561,12.003073,95.490953,...,68.933424,9.889041,9.198020,0.691021,59.044384,145.100376,6.209628,5.860362,0.349266,138.890748
std,8.652155e+06,1391.756204,701.672447,116.553786,36.224540,1.021237,36.160399,26.858102,17.832200,92.884267,...,48.846349,14.608284,13.991595,3.411217,42.885961,112.584999,11.926278,11.670275,2.103187,108.150609
min,6.037101e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.037232e+09,2663.000000,1292.000000,67.000000,9.000000,0.000000,9.000000,0.000000,0.000000,45.000000,...,34.000000,0.000000,0.000000,0.000000,29.000000,71.000000,0.000000,0.000000,0.000000,69.000000
50%,6.037501e+09,3437.000000,1682.000000,113.000000,25.000000,0.000000,25.000000,14.000000,6.000000,82.000000,...,59.000000,5.000000,3.000000,0.000000,50.000000,122.000000,0.000000,0.000000,0.000000,117.000000
75%,6.037901e+09,4377.000000,2129.000000,170.000000,48.000000,0.000000,48.000000,31.000000,18.000000,126.000000,...,94.000000,15.000000,14.000000,0.000000,81.000000,192.000000,9.000000,8.000000,0.000000,182.000000
max,6.059990e+09,16439.000000,7668.000000,3394.000000,703.000000,32.000000,703.000000,526.000000,177.000000,2691.000000,...,395.000000,162.000000,162.000000,52.000000,343.000000,1623.000000,136.000000,136.000000,32.000000,1578.000000

In [179]:
df_tract.dtypes

ZIP            int64
TRACT          int64
RES_RATIO    float64
BUS_RATIO    float64
OTH_RATIO    float64
TOT_RATIO    float64
dtype: object

In [180]:
df_age.dtypes

TractID                                                                             int64
Geography                                                                          object
Estimate; Total:                                                                    int64
Estimate; Male:                                                                     int64
Estimate; Male: - 16 to 19 years:                                                   int64
Estimate; Male: - 16 to 19 years: - In labor force:                                 int64
Estimate; Male: - 16 to 19 years: - In labor force: - In Armed Forces               int64
Estimate; Male: - 16 to 19 years: - In labor force: - Civilian:                     int64
Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Employed          int64
Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Unemployed        int64
Estimate; Male: - 16 to 19 years: - Not in labor force                              int64
Estimate; Male: - 20 and 21 years:                                                  int64
Estimate; Male: - 20 and 21 years: - In labor force:                                int64
Estimate; Male: - 20 and 21 years: - In labor force: - In Armed Forces              int64
Estimate; Male: - 20 and 21 years: - In labor force: - Civilian:                    int64
Estimate; Male: - 20 and 21 years: - In labor force: - Civilian: - Employed         int64
Estimate; Male: - 20 and 21 years: - In labor force: - Civilian: - Unemployed       int64
Estimate; Male: - 20 and 21 years: - Not in labor force                             int64
Estimate; Male: - 22 to 24 years:                                                   int64
Estimate; Male: - 22 to 24 years: - In labor force:                                 int64
Estimate; Male: - 22 to 24 years: - In labor force: - In Armed Forces               int64
Estimate; Male: - 22 to 24 years: - In labor force: - Civilian:                     int64
Estimate; Male: - 22 to 24 years: - In labor force: - Civilian: - Employed          int64
Estimate; Male: - 22 to 24 years: - In labor force: - Civilian: - Unemployed        int64
Estimate; Male: - 22 to 24 years: - Not in labor force                              int64
Estimate; Male: - 25 to 29 years:                                                   int64
Estimate; Male: - 25 to 29 years: - In labor force:                                 int64
Estimate; Male: - 25 to 29 years: - In labor force: - In Armed Forces               int64
Estimate; Male: - 25 to 29 years: - In labor force: - Civilian:                     int64
Estimate; Male: - 25 to 29 years: - In labor force: - Civilian: - Employed          int64
                                                                                    ...
Estimate; Female: - 55 to 59 years: - Not in labor force                            int64
Estimate; Female: - 60 and 61 years:                                                int64
Estimate; Female: - 60 and 61 years: - In labor force:                              int64
Estimate; Female: - 60 and 61 years: - In labor force: - In Armed Forces            int64
Estimate; Female: - 60 and 61 years: - In labor force: - Civilian:                  int64
Estimate; Female: - 60 and 61 years: - In labor force: - Civilian: - Employed       int64
Estimate; Female: - 60 and 61 years: - In labor force: - Civilian: - Unemployed     int64
Estimate; Female: - 60 and 61 years: - Not in labor force                           int64
Estimate; Female: - 62 to 64 years:                                                 int64
Estimate; Female: - 62 to 64 years: - In labor force:                               int64
Estimate; Female: - 62 to 64 years: - In labor force: - In Armed Forces             int64
Estimate; Female: - 62 to 64 years: - In labor force: - Civilian:                   int64
Estimate; Female: - 62 to 64 years: - In labor force: - Civilian: - Employed        int64
Estimate; Female: - 62 to 64 years: - In labor force: - Civilian: - Unemployed      int64
Estimate; Female: - 62 to 64 years: - Not in labor force                            int64
Estimate; Female: - 65 to 69 years:                                                 int64
Estimate; Female: - 65 to 69 years: - In labor force:                               int64
Estimate; Female: - 65 to 69 years: - In labor force: - Employed                    int64
Estimate; Female: - 65 to 69 years: - In labor force: - Unemployed                  int64
Estimate; Female: - 65 to 69 years: - Not in labor force                            int64
Estimate; Female: - 70 to 74 years:                                                 int64
Estimate; Female: - 70 to 74 years: - In labor force:                               int64
Estimate; Female: - 70 to 74 years: - In labor force: - Employed                    int64
Estimate; Female: - 70 to 74 years: - In labor force: - Unemployed                  int64
Estimate; Female: - 70 to 74 years: - Not in labor force                            int64
Estimate; Female: - 75 years and over:                                              int64
Estimate; Female: - 75 years and over: - In labor force:                            int64
Estimate; Female: - 75 years and over: - In labor force: - Employed                 int64
Estimate; Female: - 75 years and over: - In labor force: - Unemployed               int64
Estimate; Female: - 75 years and over: - Not in labor force                         int64
dtype: object

In [181]:
df_age= df_age.rename(columns={'TractID': 'TRACT'})
df_age

,TRACT,Geography,Estimate; Total:,Estimate; Male:,Estimate; Male: - 16 to 19 years:,Estimate; Male: - 16 to 19 years: - In labor force:,Estimate; Male: - 16 to 19 years: - In labor force: - In Armed Forces,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian:,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Employed,Estimate; Male: - 16 to 19 years: - In labor force: - Civilian: - Unemployed,...,Estimate; Female: - 70 to 74 years:,Estimate; Female: - 70 to 74 years: - In labor force:,Estimate; Female: - 70 to 74 years: - In labor force: - Employed,Estimate; Female: - 70 to 74 years: - In labor force: - Unemployed,Estimate; Female: - 70 to 74 years: - Not in labor force,Estimate; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - In labor force:,Estimate; Female: - 75 years and over: - In labor force: - Employed,Estimate; Female: - 75 years and over: - In labor force: - Unemployed,Estimate; Female: - 75 years and over: - Not in labor force
0,6037101110,"Census Tract 1011.10, Los Angeles County, Cali...",3924,1925,110,6,0,6,6,0,...,67,6,6,0,61,168,0,0,0,168
1,6037101122,"Census Tract 1011.22, Los Angeles County, Cali...",2797,1407,28,0,0,0,0,0,...,65,48,30,18,17,64,6,6,0,58
2,6037101210,"Census Tract 1012.10, Los Angeles County, Cali...",4931,2541,175,44,0,44,23,21,...,55,0,0,0,55,117,0,0,0,117
3,6037101220,"Census Tract 1012.20, Los Angeles County, Cali...",2356,1055,18,7,0,7,7,0,...,40,16,16,0,24,125,0,0,0,125
4,6037101300,"Census Tract 1013, Los Angeles County, California",3856,1865,50,0,0,0,0,0,...,181,21,21,0,160,171,10,0,10,161
5,6037101400,"Census Tract 1014, Los Angeles County, California",3477,1679,112,15,0,15,9,6,...,68,8,8,0,60,160,46,46,0,114
6,6037102103,"Census Tract 1021.03, Los Angeles County, Cali...",1618,745,44,4,0,4,4,0,...,44,6,6,0,38,66,5,5,0,61
7,6037102104,"Census Tract 1021.04, Los Angeles County, Cali...",3116,1520,161,37,0,37,32,5,...,123,7,7,0,116,125,0,0,0,125
8,6037102105,"Census Tract 1021.05, Los Angeles County, Cali...",1597,841,91,53,0,53,34,19,...,17,7,7,0,10,25,0,0,0,25
9,6037102107,"Census Tract 1021.07, Los Angeles County, Cali...",3356,1790,128,42,0,42,14,28,...,59,0,0,0,59,257,0,0,0,257
10,6037103101,"Census Tract 1031.01, Los Angeles County, Cali...",2320,1232,64,4,0,4,4,0,...,42,0,0,0,42,105,0,0,0,105
11,6037103102,"Census Tract 1031.02, Los Angeles County, Cali...",4167,1796,142,17,0,17,8,9,...,86,9,0,9,77,171,12,12,0,159
12,6037103200,"Census Tract 1032, Los Angeles County, California",5431,3107,208,11,0,11,0,11,...,118,17,17,0,101,299,15,15,0,284
13,6037103300,"Census Tract 1033, Los Angeles County, California",2854,1355,48,13,0,13,7,6,...,98,10,10,0,88,96,0,0,0,96
14,6037103400,"Census Tract 1034, Los Angeles County, California",5661,2694,111,50,0,50,50,0,...,110,65,65,0,45,201,11,0,11,190
15,6037104103,"Census Tract 1041.03, Los Angeles County, Cali...",3148,1532,156,86,0,86,73,13,...,47,0,0,0,47,152,5,5,0,147
16,6037104105,"Census Tract 1041.05, Los Angeles County, Cali...",4322,2053,258,22,0,22,22,0,...,100,9,9,0,91,104,0,0,0,104
17,6037104108,"Census Tract 1041.08, Los Angeles County, Cali...",3844,1963,226,27,0,27,7,20,...,46,9,9,0,37,200,0,0,0,200
18,6037104124,"Census Tract 1041.24, Los Angeles County, Cali...",3604,1836,123,32,0,32,32,0,...,60,0,0,0,60,79,0,0,0,79
19,6037104201,"Census Tract 1042.01, Los Angeles County, Cali...",3627,1817,167,64,0,64,26,38,...,39,0,0,0,39,97,0,0,0,97
20,6037104203,"Census Tract 1042.03, Los Angeles County, Cali...",3504,1792,123,35,0,35,6,29,...,21,0,0,0,21,123,9,9,0,114
21,6037104204,"Census Tract 1042.04, Los Angeles County, Cali...",2719,1484,97,0,0,0,0,0,...,38,0,0,0,38,84,0,0,0,84
22,6037104310,"Census Tract 1043.10, Los Angeles County, Cali...",3888,1944,61,33,0,33,6,27,...,60,7,7,0,53,135,0,0,0,135
23,6037104320,"Census Tract 1043.20, Los Angeles County, Cali...",4324,2244,101,36,0,36,11,25,...,60,0,0,0,60,156,0,0,0,156
24,6037104401,"Census Tract 1044.01, Los Angeles County, Cali...",2694,1386,104,42,0,42,33,9,...,63,7,7,0,56,34,0,0,0,34
25,6037104403,"Census Tract 1044.03, Los Angeles County, Cali...",2320,1249,87,27,0,27,12,15,...,52,0,0,0,52,68,0,0,0,68
26,6037104404,"Census Tract 1044.04, Los Angeles County, Cali...",2021,1158,108,15,0,15,15,0,...,35,6,6,0,29,52,0,0,0,52
27,6037104500,"Census Tract 1045, Los Angeles County, California",2352,1235,150,81,0,81,51,30,...,14,0,0,0,14,61,6,6,0,55
28,6037104610,"Census Tract 1046.10, Los Angeles County, Cali...",2503,1311,75,19,0,19,19,0,...,29,0,0,0,29,90,0,0,0,90
29,6037104620,"Census Tract 1046.20, Los Angeles County, Cali...",2551,1373,132,86,0,86,49,37,...,47,0,0,0,47,70,0,0,0,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,6059110102,"Census Tract 1101.02, Orange County, California",4756,2268,130,5,0,5,5,0,...,51,16,16,0,35,247,17,17,0,230
2900,6059110104,"Census Tract 1101.04, Orange County, California",4506,2092,187,104,0,104,86,18,...,119,8,8,0,111,217,14,14,0,203
2901,6059110106,"Census Tract 1101.06, Orange County, California",3262,1461,65,17,0,17,17,0,...,87,36,36,0,51,177,7,7,0,170
2902,6059110108,"Census Tract 1101.08, Orange County, California",2393,1202,165,57,0,57,57,0,...,64,10,0,10,54,197,22,22,0,175
2903,6059110109,"Census Tract 1101.09, Orange County, California",4279,2123,134,16,0,16,16,0,...,96,22,22,0,74,176,8,8,0,168
2904,6059110110,"Census Tract 1101.10, Orange County, California",4598,2232,187,49,0,49,39,10,...,153,33,33,0,120,150,7,7,0,143
2905,6059110111,"Census Tract 1101.11, Orange County, California",4890,2436,130,0,0,0,0,0,...,63,16,16,0,47,236,8,8,0,228
2906,6059110113,"Census Tract 1101.13, Orange County, California",2050,999,92,36,0,36,30,6,...,61,0,0,0,61,116,8,8,0,108
2907,6059110114,"Census Tract 1101.14, Orange County, California",3794,1869,97,0,0,0,0,0,...,94,0,0,0,94,153,0,0,0,153
2908,6059110115,"Census Tract 1101.15, Orange County, California",2962,1407,89,6,0,6,0,6,...,104,9,9,0,95,212,0,0,0,212
2909,6059110116,"Census Tract 1101.16, Orange County, California",4070,1991,150,49,0,49,40,9,...,141,6,6,0,135,180,8,8,0,172
2910,6059110117,"Census Tract 1101.17, Orange County, California",4802,2315,214,19,0,19,0,19,...,58,0,0,0,58,228,0,0,0,228
2911,6059110118,"Census Tract 1101.18, Orange County, California",2209,1104,74,19,0,19,12,7,...,28,0,0,0,28,82,4,4,0,78
2912,6059110201,"Census Tract 1102.01, Orange County, California",6232,2994,219,30,0,30,30,0,...,143,0,0,0,143,398,0,0,0,398
2913,6059110202,"Census Tract 1102.02, Orange County, California",5890,2851,365,32,0,32,32,0,...,156,0,0,0,156,356,17,17,0,339
2914,6059110203,"Census Tract 1102.03, Orange County, California",4172,1995,193,115,0,115,115,0,...,58,10,10,0,48,122,0,0,0,122
2915,6059110301,"Census Tract 1103.01, Orange County, California",6052,2855,168,11,0,11,11,0,...,148,0,0,0,148,167,17,17,0,150
2916,6059110302,"Census Tract 1103.02, Orange County, California",4629,2241,198,26,0,26,4,22,...,77,13,13,0,64,115,0,0,0,115
2917,6059110303,"Census Tract 1103.03, Orange County, California",3987,2061,212,51,0,51,51,0,...,84,10,10,0,74,137,8,8,0,129
2918,6059110304,"Census Tract 1103.04, Orange County, California",3854,1904,147,43,0,43,43,0,...,99,16,16,0,83,161,11,11,0,150
2919,6059110401,"Census Tract 1104.01, Orange County, California",4267,2085,151,36,0,36,36,0,...,31,5,5,0,26,185,0,0,0,185
2920,6059110402,"Census Tract 1104.02, Orange County, California",4259,2063,233,70,0,70,61,9,...,84,0,0,0,84,179,0,0,0,179
2921,6059110500,"Census Tract 1105, Orange County, California",6190,3118,213,39,0,39,39,0,...,112,0,0,0,112,154,8,8,0,146
2922,6059110603,"Census Tract 1106.03, Orange County, California",6493,3036,184,91,0,91,78,13,...,58,5,5,0,53,193,0,0,0,193
2923,6059110604,"Census Tract 1106.04, Orange County, California",6739,3448,210,115,0,115,42,73,...,167,42,42,0,125,242,34,34,0,208
2924,6059110605,"Census Tract 1106.05, Orange County, California",5131,2193,215,40,0,40,0,40,...,78,0,0,0,78,331,11,11,0,320
2925,6059110606,"Census Tract 1106.06, Orange County, California",3443,1723,127,30,0,30,30,0,...,0,0,0,0,0,44,0,0,0,44
2926,6059110607,"Census Tract 1106.07, Orange County, California",3618,1767,43,8,0,8,8,0,...,34,0,0,0,34,163,9,9,0,154
2927,6059980000,"Census Tract 9800, Orange County, California",30,6,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2928,6059990100,"Census Tract 9901, Orange County, California",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
df_final=df_tract.merge(df_age,on='TRACT',how='inner')

In [183]:
df_final.sort_values(by='ZIP',inplace=True)

In [184]:
df_final.groupby(['ZIP']).sum()

,TRACT,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO,Estimate; Total:,Estimate; Male:,Estimate; Male: - 16 to 19 years:,Estimate; Male: - 16 to 19 years: - In labor force:,Estimate; Male: - 16 to 19 years: - In labor force: - In Armed Forces,...,Estimate; Female: - 70 to 74 years:,Estimate; Female: - 70 to 74 years: - In labor force:,Estimate; Female: - 70 to 74 years: - In labor force: - Employed,Estimate; Female: - 70 to 74 years: - In labor force: - Unemployed,Estimate; Female: - 70 to 74 years: - Not in labor force,Estimate; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - In labor force:,Estimate; Female: - 75 years and over: - In labor force: - Employed,Estimate; Female: - 75 years and over: - In labor force: - Unemployed,Estimate; Female: - 75 years and over: - Not in labor force
ZIP,,,,,,,,,,,,,,,,,,,,,
90001,108673551957,1.000000,1.000000,1.0,1.000000,57702,28712,3097,845,0,...,748,100,76,24,648,1066,55,49,6,1011
90002,90560097132,1.000000,1.000000,1.0,1.000000,51816,24237,2539,656,0,...,656,29,10,19,627,1113,53,53,0,1060
90003,205266141301,1.000000,1.000000,1.0,1.000000,103994,49282,5177,1150,0,...,1270,121,99,22,1149,2257,58,58,0,2199
90004,138855659013,1.000000,1.000000,1.0,1.000000,67407,33789,1948,537,0,...,1186,181,168,13,1005,1991,109,83,26,1882
90005,144893093324,1.000000,1.000000,1.0,1.000000,66270,32796,1645,459,0,...,1336,240,202,38,1096,2215,98,91,7,2117
90006,175079234752,1.000000,1.000000,1.0,1.000000,79185,40868,2813,1060,0,...,1320,204,174,30,1116,2265,119,119,0,2146
90007,138856146383,1.000000,1.000000,1.0,1.000000,69546,33863,4630,1131,0,...,632,81,81,0,551,1785,34,23,11,1751
90008,72447760411,1.000000,1.000000,1.0,1.000000,43573,18880,1301,271,0,...,1266,215,215,0,1051,2654,333,333,0,2321
90009,6037980028,1.000000,1.000000,1.0,1.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90010,90558180768,1.000000,1.000000,1.0,1.000000,42779,20710,890,190,0,...,912,141,127,14,771,1378,50,43,7,1328
90011,181117460633,1.000000,1.000000,1.0,1.000000,88324,44319,4611,1038,0,...,767,77,72,5,690,1643,29,18,11,1614
90012,96596065883,1.000000,1.000000,1.0,1.000000,48963,28618,905,189,0,...,673,103,103,0,570,2246,31,31,0,2215
90013,42260448346,1.000000,1.000000,1.0,1.000000,25529,15275,143,15,0,...,315,48,48,0,267,1414,34,34,0,1380
90014,30186054615,1.000000,1.000000,1.0,1.000000,18366,11692,88,1,0,...,197,36,36,0,161,369,9,9,0,360
90015,96595468347,1.000000,1.000000,1.0,1.000000,40864,21651,1002,226,0,...,463,82,66,16,381,1541,20,9,11,1521
90016,150931595947,1.000000,1.000000,1.0,1.000000,77134,35975,2769,572,0,...,1675,257,257,0,1418,3197,232,232,0,2965
90017,78483713732,1.000000,1.000000,1.0,1.000000,39453,20854,1271,345,0,...,687,69,69,0,618,1440,14,14,0,1426
90018,138856117181,1.000000,1.000000,1.0,1.000000,71674,33737,2596,526,0,...,1273,182,172,10,1091,2981,99,99,0,2882
90019,144893254092,1.000000,1.000000,1.0,1.000000,80277,39432,2085,352,0,...,1586,310,271,39,1276,2894,142,127,15,2752
90020,132818654606,1.000000,1.000000,1.0,1.000000,66599,32640,1399,201,0,...,1105,179,168,11,926,2051,78,71,7,1973
90021,24148864334,1.000000,1.000000,1.0,1.000000,11306,7451,129,16,0,...,8,0,0,0,8,129,0,0,0,129
90022,138863171539,1.000000,1.000000,1.0,1.000000,75633,36560,3149,1055,0,...,1682,108,108,0,1574,3264,84,78,6,3180
90023,114708852202,1.000000,1.000000,1.0,1.000000,56982,29011,2320,685,0,...,786,23,23,0,763,1675,39,39,0,1636
90024,84522151169,1.000000,1.000000,1.0,1.000000,52565,25281,4366,861,0,...,545,98,90,8,447,2229,215,193,22,2014
90025,114708937940,1.000000,1.000000,1.0,1.000000,69980,34049,775,123,0,...,1457,398,382,16,1059,2977,364,351,13,2613
90026,169042391343,1.000000,1.000000,1.0,1.000000,82143,41335,2116,495,0,...,1408,241,220,21,1167,2868,57,57,0,2811
90027,126781799769,1.000000,1.000000,1.0,1.000000,62143,30910,1002,317,0,...,1258,219,205,14,1039,2706,79,71,8,2627
90028,114706620330,1.000000,1.000000,1.0,1.000000,62188,33878,1093,317,0,...,1010,149,133,16,861,1905,22,22,0,1883
90029,138855422475,1.000000,1.000000,1.0,1.000000,72575,36885,2032,692,0,...,1186,127,119,8,1059,2761,52,52,0,2709
90030,6037207103,1.000000,1.000000,1.0,1.000000,1827,821,13,9,0,...,15,0,0,0,15,135,0,0,0,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92865,48472608850,1.000000,1.000000,1.0,1.000000,35308,17450,2138,530,0,...,615,104,104,0,511,1252,91,82,9,1161
92866,24236303414,1.000000,1.000000,1.0,1.000000,17208,8079,268,148,0,...,200,45,38,7,155,712,105,105,0,607
92867,96945052558,1.000000,1.000000,1.0,1.000000,61392,30208,2806,703,0,...,1166,155,148,7,1011,2538,188,188,0,2350
92868,42413545518,1.000000,1.000000,1.0,1.000000,39683,21879,1750,472,0,...,379,31,31,0,348,1283,41,41,0,1242
92869,60590488214,1.000000,1.000000,1.0,1.000000,40590,19967,1283,288,0,...,1091,179,157,22,912,1786,103,96,7,1683
92870,115121283181,1.000000,1.000000,1.0,1.000000,68083,32821,2447,678,0,...,1302,141,124,17,1161,3181,106,92,14,3075
92871,6059011711,1.000000,1.000000,1.0,1.000000,6457,3235,123,68,0,...,80,0,0,0,80,233,0,0,0,233
92885,6059021802,1.000000,1.000000,1.0,1.000000,5596,2788,166,14,0,...,69,30,30,0,39,452,36,36,0,416
92886,96944328889,1.000000,1.000000,1.0,1.000000,62636,30413,1983,393,0,...,1449,395,331,64,1054,2684,130,130,0,2554
92887,42413152889,1.000000,1.000000,1.0,1.000000,23271,11323,840,201,0,...,433,64,54,10,369,671,22,14,8,649
92899,6059021813,0.000000,0.000000,1.0,1.000000,67,35,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93063,6037113211,0.000102,0.000000,0.0,0.000090,3296,1584,26,5,0,...,108,15,15,0,93,177,17,8,9,160
93243,6037901209,0.000000,0.117647,0.5,0.024272,1084,560,18,0,0,...,25,0,0,0,25,23,0,0,0,23
93510,24151642627,1.000000,1.000000,1.0,1.000000,10558,5631,512,234,0,...,205,22,9,13,183,332,96,92,4,236
93532,24151623734,1.000000,1.000000,1.0,1.000000,9662,4965,384,113,0,...,147,33,33,0,114,303,8,8,0,295
93534,114720123784,1.000000,1.000000,1.0,1.000000,65401,31155,2437,436,0,...,1144,108,108,0,1036,2378,83,74,9,2295
93535,108682288081,1.000000,1.000000,1.0,1.000000,55343,25914,2901,507,0,...,816,88,88,0,728,1271,20,10,10,1251
93536,96606454387,0.998868,1.000000,1.0,0.998933,67921,35966,2994,622,0,...,1221,162,162,0,1059,2236,84,75,9,2152
93539,6037900703,1.000000,1.000000,0.0,1.000000,2971,1438,83,31,0,...,48,7,7,0,41,174,0,0,0,174
93543,36227482720,1.000000,1.000000,1.0,1.000000,19672,9665,972,104,0,...,436,26,26,0,410,619,8,8,0,611
93544,18113711207,1.000000,1.000000,1.0,1.000000,8626,4411,550,75,0,...,280,32,32,0,248,337,19,19,0,318
93550,150947853036,1.000000,1.000000,1.0,1.000000,66292,32220,2967,815,0,...,969,73,58,15,896,1911,131,127,4,1780
93551,102644466493,1.000000,1.000000,1.0,1.000000,54153,26486,2368,383,0,...,1069,58,58,0,1011,1911,130,130,0,1781
93552,84530807901,1.000000,1.000000,1.0,1.000000,40133,19925,2223,478,0,...,712,43,43,0,669,964,23,23,0,941
93553,18113751304,1.000000,1.000000,1.0,1.000000,9861,4993,445,33,0,...,223,12,12,0,211,380,0,0,0,380
93560,6037900900,0.001314,0.005988,0.0,0.001383,3059,1600,118,19,0,...,67,0,0,0,67,166,38,38,0,128
93563,12075841302,1.000000,1.000000,1.0,1.000000,4303,2191,102,9,0,...,157,12,12,0,145,260,0,0,0,260
93586,6037901101,1.000000,1.000000,1.0,1.000000,3829,1778,152,41,0,...,101,0,0,0,101,145,0,0,0,145
93591,42265331613,1.000000,1.000000,1.0,1.000000,19251,9666,1099,204,0,...,451,48,48,0,403,561,27,27,0,534
93599,6037980004,0.000000,0.000000,1.0,1.000000,11,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [190]:
df_final.drop(labels=['RES_RATIO','BUS_RATIO','OTH_RATIO','TOT_RATIO'],axis=1,inplace=True)

In [207]:
df_orange=df_final[df_final['Geography'].str.contains('Orange')]

In [208]:
df_la=df_final[df_final['Geography'].str.contains('Los')]

In [209]:
len(df_la)

3954

In [210]:
len(df_orange)

1008

In [212]:
len(df_final)==len(df_la)+len(df_orange)

True

In [213]:
# df_tract[['ZIP','TRACT']]=df_tract[['ZIP','TRACT']].astype(str)

In [214]:
# LA county Zip code and Orange County Zip Code should be retained in the dataset